body{
    text-align: center;
    
}


.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 3px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(238, 39, 39);
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: rgb(81, 216, 36);
}

.blue{
    background-color: rgb(0, 162, 255);
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: rgb(255, 0, 255);
}